
.env
.env.example
.env.local
.env.staging
node_modules
.vercel
uploads
orders.xlsx
dump
.env
google-service-account.json
google-service-account-gcs.json
/__tests__
Haldenbackend.log
ecosystem.config.js
tempUploads
haldenerp-firebase-adminsdk.json
controllertests/
logs/
google-service-account-gcs.json